<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csit.system.mapper.YxWechartDeviceMonthMapper">
    
    <resultMap type="YxWechartDeviceMonth" id="YxWechartDeviceMonthResult">
        <result property="id"    column="ID"    />
        <result property="openid"    column="openID"    />
        <result property="deviceid"    column="DeviceID"    />
        <result property="high"    column="High"    />
        <result property="seatstatus"    column="SeatStatus"    />
        <result property="createtime"    column="CreateTime"    />
        <result property="duration"    column="Duration"    />
        <result property="starttime"    column="StartTime"    />
    </resultMap>
    <resultMap type="YxWechartDeviceMonth" id="YxWechartDeviceMonthTotalResult">
        <result property="seatstatus"    column="SeatStatus"    />
        <result property="duration"    column="Duration"    />
        <result property="starttime"    column="StartTime"    />
    </resultMap>

    <sql id="selectYxWechartDeviceMonthVo">
        select ID, openID, DeviceID, High, SeatStatus, CreateTime, Duration, StartTime from yx_wechart_device_month
    </sql>

    <select id="selectYxWechartDeviceMonthList" parameterType="java.util.Map" resultMap="YxWechartDeviceMonthResult">
        <include refid="selectYxWechartDeviceMonthVo"/>
        <where>
            CreateTime BETWEEN DATE_ADD(curdate(),interval -day(curdate())+1 day) and curdate()
            <if test="openid != null  and openid != ''"> and openID = #{openid}</if>
            order by CreateTime
        </where>
    </select>


    <select id="selectYxWechartDeviceWeekList" parameterType="java.util.Map" resultMap="YxWechartDeviceMonthResult">
        <include refid="selectYxWechartDeviceMonthVo"/>
        <where>
            <if test="openid != null  and openid != ''"> and openID = #{openid}</if>
            and CreateTime BETWEEN  date_add(curdate() , interval -7 DAY)  and curdate() order by CreateTime
        </where>
    </select>
    <select id="selectYxWechartDeviceMonthById" parameterType="Long" resultMap="YxWechartDeviceMonthResult">
        <include refid="selectYxWechartDeviceMonthVo"/>
        where ID = #{id}
    </select>

    <select id="selectYxWechartDeviceWeekTotal" parameterType="String" resultMap="YxWechartDeviceMonthTotalResult">
        select sum(Duration) Duration, sum(StartTime) StartTime,SeatStatus
        from yx_wechart_device_month WHERE openID = #{openid}
        and CreateTime BETWEEN date_add(curdate() , interval -7 DAY) and curdate()
        group by SeatStatus
    </select>

    <select id="selectYxWechartDeviceMonthTotal" parameterType="String" resultMap="YxWechartDeviceMonthTotalResult">
        select sum(Duration) Duration, sum(StartTime) StartTime,SeatStatus
        from yx_wechart_device_month WHERE openID = #{openid}
        and CreateTime BETWEEN DATE_ADD(curdate(),interval -day(curdate())+1 day) and curdate()
        group by SeatStatus
    </select>
        
    <insert id="insertYxWechartDeviceMonth" parameterType="YxWechartDeviceMonth" useGeneratedKeys="true" keyProperty="id">
        insert into yx_wechart_device_month
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="openid != null  and openid != ''">openID,</if>
            <if test="deviceid != null  and deviceid != ''">DeviceID,</if>
            <if test="high != null ">High,</if>
            <if test="seatstatus != null ">SeatStatus,</if>
            <if test="createtime != null  and createtime != ''">CreateTime,</if>
            <if test="duration != null ">Duration,</if>
            <if test="starttime != null  and starttime != ''">StartTime,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="openid != null  and openid != ''">#{openid},</if>
            <if test="deviceid != null  and deviceid != ''">#{deviceid},</if>
            <if test="high != null ">#{high},</if>
            <if test="seatstatus != null ">#{seatstatus},</if>
            <if test="createtime != null  and createtime != ''">#{createtime},</if>
            <if test="duration != null ">#{duration},</if>
            <if test="starttime != null  and starttime != ''">#{starttime},</if>
         </trim>
    </insert>

    <update id="updateYxWechartDeviceMonth" parameterType="YxWechartDeviceMonth">
        update yx_wechart_device_month
        <trim prefix="SET" suffixOverrides=",">
            <if test="openid != null  and openid != ''">openID = #{openid},</if>
            <if test="deviceid != null  and deviceid != ''">DeviceID = #{deviceid},</if>
            <if test="high != null ">High = #{high},</if>
            <if test="seatstatus != null ">SeatStatus = #{seatstatus},</if>
            <if test="createtime != null  and createtime != ''">CreateTime = #{createtime},</if>
            <if test="duration != null ">Duration = #{duration},</if>
            <if test="starttime != null  and starttime != ''">StartTime = #{starttime},</if>
        </trim>
        where ID = #{id}
    </update>

    <delete id="deleteYxWechartDeviceMonthById" parameterType="Long">
        delete from yx_wechart_device_month where ID = #{id}
    </delete>

    <delete id="deleteYxWechartDeviceMonthByIds" parameterType="String">
        delete from yx_wechart_device_month where ID in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>