<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('UserList')" />
    <th:block th:include="include :: layout-latest-css" />
    <th:block th:include="include :: ztree-css" />

    <link  th:href="@{../css/calendarAll.css}" rel="stylesheet" type="text/css"/>
    <link  th:href="@{../css/skin_c.css}" rel="stylesheet" type="text/css"/>
    <link  th:href="@{../css/fontSize12.css}" rel="stylesheet" type="text/css"/>
    <link  th:href="@{../css/calendar.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{../js/jquery.min.js}"></script>
    <script th:src="@{../js/calendar.js}" type="text/javascript"></script>

</head>
<body class="gray-bg">
<div class="ui-layout-west">
    <div class="box box-main">
        <div class="box-header">
            <div class="box-title">
             <i class="fa icon-grid"></i>组织</div>
            <div class="box-tools pull-right">
                <a type="button" class="btn btn-box-tool" href="#" onclick="dept()" th:title="#{public.button.managedepartment}"><i class="fa fa-edit"></i></a>
                <button type="button" class="btn btn-box-tool" id="btnExpand" th:title="#{public.button.expand}" style="display:none;"><i class="fa fa-chevron-up"></i></button>
                <button type="button" class="btn btn-box-tool" id="btnCollapse" th:title="#{public.button.fold}"><i class="fa fa-chevron-down"></i></button>
                <button type="button" class="btn btn-box-tool" id="btnRefresh" th:title="#{public.button.refreshdepartment}"><i class="fa fa-refresh"></i></button>
            </div>
        </div>
        <div class="ui-layout-content">
            <div id="tree" class="ztree"></div>
        </div>
    </div>
</div>

<div class="ui-layout-center">
    <div class="container-div">
        <div class="row">

            <input type="hidden" id="deptId" name="deptId">
            <input type="hidden" id="parentId" name="parentId">
            <div class="col-sm-12 select-table table-striped" style="min-height: 95%">
                  <div id="myrl" style="width:100%; margin-left:auto; margin-right:auto; height:840px; overflow:hidden;">
                        <form name=CLD>
                            <TABLE class="biao" style="table-layout:fixed" width="100%">
                                <TBODY>
                                <TR>
                                    <TD class="calTit" colSpan=7 style="height:30px;padding-top:3px;text-align:center;">

                                        <a href="#" title="上一年" id="nianjian" class="ymNaviBtn lsArrow"></a>
                                        <a href="#" title="上一月" id="yuejian" class="ymNaviBtn lArrow"></a>

                                        <div style="width:500px; float:left; padding-left:230px;">
                                            <span id="dateSelectionRili" class="dateSelectionRili"
                                                  style="cursor:hand;color: white;"
                                                  onclick="dateSelection.show()">
											<span id="nian" class="topDateFont"></span><span
                                                    class="topDateFont">年</span><span id="yue"
                                                                                      class="topDateFont"></span><span
                                                    class="topDateFont">月</span>
											<span class="dateSelectionBtn cal_next"
                                                  onclick="dateSelection.show()">▼</span></span> &nbsp;&nbsp;<font id=GZ
                                                                                                                   class="topDateFont"></font>
                                        </div>

                                        <!--新加导航功能-->
                                        <div style="left: 250px; display: none;" id="dateSelectionDiv">
                                            <div id="dateSelectionHeader"></div>
                                            <div id="dateSelectionBody">
                                                <div id="yearList">
                                                    <div id="yearListPrev" onclick="dateSelection.prevYearPage()">&lt;</div>
                                                    <div id="yearListContent"></div>
                                                    <div id="yearListNext" onclick="dateSelection.nextYearPage()">&gt;</div>
                                                </div>
                                                <div id="dateSeparator"></div>
                                                <div id="monthList">
                                                    <div id="monthListContent"><span id="SM0" class="month"
                                                                                     onclick="dateSelection.setMonth(0)">1</span><span
                                                            id="SM1" class="month" onclick="dateSelection.setMonth(1)">2</span><span
                                                            id="SM2" class="month" onclick="dateSelection.setMonth(2)">3</span><span
                                                            id="SM3" class="month" onclick="dateSelection.setMonth(3)">4</span><span
                                                            id="SM4" class="month" onclick="dateSelection.setMonth(4)">5</span><span
                                                            id="SM5" class="month" onclick="dateSelection.setMonth(5)">6</span><span
                                                            id="SM6" class="month" onclick="dateSelection.setMonth(6)">7</span><span
                                                            id="SM7" class="month" onclick="dateSelection.setMonth(7)">8</span><span
                                                            id="SM8" class="month" onclick="dateSelection.setMonth(8)">9</span><span
                                                            id="SM9" class="month" onclick="dateSelection.setMonth(9)">10</span><span
                                                            id="SM10" class="month" onclick="dateSelection.setMonth(10)">11</span><span
                                                            id="SM11" class="month curr" onclick="dateSelection.setMonth(11)">12</span>
                                                    </div>
                                                    <div style="clear: both;"></div>
                                                </div>
                                                <div id="dateSelectionBtn">
                                                    <div id="dateSelectionTodayBtn" onclick="dateSelection.goToday()">今天</div>
                                                    <div id="dateSelectionOkBtn" onclick="dateSelection.go()">确定</div>
                                                    <div id="dateSelectionCancelBtn" onclick="dateSelection.hide()">取消</div>
                                                </div>
                                            </div>
                                            <div id="dateSelectionFooter"></div>
                                        </div>
                                        <a href="#" id="nianjia" title="下一年" class="ymNaviBtn rsArrow" style="float:right;"></a>
                                        <a href="#" id="yuejia" title="下一月" class="ymNaviBtn rArrow" style="float:right;"></a>
                                        <!--	<a id="jintian" href="#" title="今天" class="btn" style="float:right; margin-top:-2px; font-size:12px; text-align:center;">今天</a>-->

                                    </TD>
                                </TR>
                                <TR class="calWeekTit" style="font-size:12px; height:20px;text-align:center;">
                                    <TD width="100" class="red">星期日</TD>
                                    <TD width="100">星期一</TD>
                                    <TD width="100">星期二</TD>
                                    <TD width="100">星期三</TD>
                                    <TD width="100">星期四</TD>
                                    <TD width="100">星期五</TD>
                                    <TD width="100" class="red">星期六</TD>
                                </TR>
                                <SCRIPT language="JavaScript">

                                    var gNum;
                                    for (var i = 0; i < 6; i++) {
                                        document.write('<tr style="table-layout:fixed" align=center height="50" id="tt">');
                                        for (var j = 0; j < 7; j++) {
                                            gNum = i * 7 + j ;
                                            <!--onMouseOver="mOvr(this,' + gNum + ');"  onMouseOut="mOut(this);"-->
                                            document.write('<td  id="GD' + gNum + '" on="0" ><font id="SD' + gNum + '" style="font-size:22px;"  face="Arial"');
                                            if (j == 0)  document.write('color=red');
                                            if (j == 6)
                                                document.write('color=red');
                                            document.write('  TITLE="">  </font><br><font  id="LD' + gNum + '"  size=2  style="white-space:nowrap;overflow:hidden;cursor:default;">  </font></td>');
                                        }
                                        document.write('</tr>');
                                    }
                                </SCRIPT>
                                </tbody>
                            </TABLE>
                            <table class="biao" width="100%" style="margin-top: 10px;">
                                <tr>
                                    <td>
                                        <div id="workday" class="cc">
                                            <p id="setworkday" style="margin: 5px 0px 5px 0px"><span>设为工作日（默认周一至周五）</span>: </p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div id="holiday" class="cc">
                                            <p id="setholiday" style="margin: 5px 0px 5px 0px"><span>设为假日（默认周六、周日）</span>: </p>
                                        </div>
                                    </td>
                                </tr>
                                <!--  <tr>
                                   <td>
                                     <div id="delete" class="cc">
                                         <p id="deleteSet"><span>删除日期设置</span>: </p>
                                     </div>
                                  </td>
                                 </tr>  -->
                            </table>
                            <table  border="0"  cellpadding="5" cellspacing="5" style="margin-top: 10px;width: 100%;height: 30px">
                                <tr align="center" style="margin-top: 5px;">
                                    <td width="80"><div  class="btn btn-info  btn-xs " style="width:120px;height: 30px;line-height: 30px "  onclick=h_submit()> 提交</div></td>
                                    <td width="80"><div   class="btn btn-warning  btn-xs " style="width:120px;height: 30px;line-height: 30px "  onclick=rebuild()>重置</div></td>
                                    <td></td>
                                </tr>
                                </tr>
                            </table>
                        </form>
                    </div>

            </div>
        </div>
    </div>
</div>

<th:block th:include="include :: footer" />
<th:block th:include="include :: layout-latest-js" />
<th:block th:include="include :: ztree-js" />
<script th:inline="javascript">



    $(function() {
        var panehHidden = false;
        if ($(this).width() < 769) {
            panehHidden = true;
        }
        $('body').layout({ initClosed: panehHidden, west__size: 185 });

        queryDeptTree();
    });



    function queryDeptTree()
    {
        var url = ctx + "system/dept/treeData";
        var options = {
            url: url,
            expandLevel: 2,
            onClick : zOnClick
        };
        $.tree.init(options);

        function zOnClick(event, treeId, treeNode) {
            $("#deptId").val(treeNode.id);
            $("#parentId").val(treeNode.pId);
            $.table.search();
        }
    }

    $('#btnExpand').click(function() {
        $._tree.expandAll(true);
        $(this).hide();
        $('#btnCollapse').show();
    });

    $('#btnCollapse').click(function() {
        $._tree.expandAll(false);
        $(this).hide();
        $('#btnExpand').show();
    });

    $('#btnRefresh').click(function() {
        queryDeptTree();
    });

    /* 用户管理-部门 */
    function dept() {
        var url = ctx + "system/dept";
        $.modal.openTab("Dept", url);
    }


    $("td").click(function(){    //td点击事件；
        var val = $(this).attr("id")  //定义val值为点击的此td的id值；

    })
    //提交
    function h_submit(){
        console.log("点选了我")
        if($("#deptId").val()=="")
        {
            alert("请点选左侧菜单");
            return false;
        }
        if(hDays.length==0){
            alert("提交数据为空！");
            return false;
        }else{
           // alert(JSON.stringify(hDays));
        }
        var data =  JSON.stringify(hDays);
        var deptId= $("#deptId").val()
        $.ajax({
            url:"holiday/saveBatch",
            data:{"deptId":deptId,"calendarData":data},
            type:'POST',
            cache:false,
            async:false,
            dataType:'json',
            success:function(data) {

                if (data.code== "0") {
                    alert(data.msg);
                    setTimeout(window.location.reload(),5000)
                } else {
                    layer.alert(data.msg, {icon : 2, time : 5000});

                }
            },
            error : function() {
                layer.alert('操作失败，请刷新页面后重试！', {icon : 2, time : 5000});
            }
        });
    }
    //重置
    function rebuild(){
        hDays=[];
        window.location.reload();
    }

</script>
</body>

</html>